<h1>Live#new</h1>
<div id="screenshot" style="text-align:center;">
  <video class="videostream" autoplay=""></video>
  <img id="screenshot-img">

  
  <form action="/fimage64s" method="post">
  <input id="screenshot-input" type="hidden" />
  <input id="fimage64_image" type="hidden" name="fimage64[image]" />
  <input type="submit" value="Submit fimage64s">
  </form>


  <p><button class="capture-button">Capture video</button>
  </p><p><button id="screenshot-button" >Take screenshot</button></p>
  
</div>

<script>
const constraints = {
  video: true
};

const video = document.querySelector('#screenshot video');

const captureVideoButton = document.querySelector('#screenshot .capture-button');
const screenshotButton = document.querySelector('#screenshot-button');
const img = document.querySelector('#screenshot img');
const input = document.querySelector('#screenshot input');
const input2 = document.querySelector('#fimage64_image');

//const video = document.querySelector('#screenshot video');

navigator.mediaDevices.getUserMedia(constraints).
  then((stream) => {video.srcObject = stream});

const canvas = document.createElement('canvas');

captureVideoButton.onclick = function() {
  navigator.mediaDevices.getUserMedia(constraints).
    then(handleSuccess).catch(handleError);
};

screenshotButton.onclick = video.onclick = function() {
  canvas.width = video.videoWidth;
  canvas.height = video.videoHeight;
  canvas.getContext('2d').drawImage(video, 0, 0);
  // Other browsers will fall back to image/png
  img.src = canvas.toDataURL('image/jpg');
  input.value = canvas.toDataURL('image/jpg');
  //input.value = canvas.toDataURL('image/webp');

  input2.value = canvas.toDataURL('image/jpg');

};

function handleSuccess(stream) {
  screenshotButton.disabled = false;
  video.srcObject = stream;
}
</script>
